
{{> head}}

<body>
    {{> navigation}}
    <main>
        <h1>{{__HEADING__}}</h1>
        <p class="warning">
            You are not authorized to view this page.
            Please log in first
        </p> 
    </main>
</body>
{{> footer}}